In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df=pd.read_csv('FuelImport.csv')
df.head()

,Year,Month,YearMonth,Fuel QR Implemented,Fuel Imports,Total Imports,NCPI Headline Inflation,GDP(Rs Million)
0,2020,1,2020-01,QR No,291.853136,1735.327088,7.6,4165667
1,2020,2,2020-02,QR No,418.720322,1562.323837,8.1,4165667
2,2020,3,2020-03,QR No,237.658038,1205.049203,7.0,4165667
3,2020,4,2020-04,QR No,121.817611,1122.606963,5.9,3161022
4,2020,5,2020-05,QR No,62.899183,993.822813,5.2,3161022

In [3]:
df_qr_no = df[df['Fuel QR Implemented'] == 'QR No']
df_qr_yes = df[df['Fuel QR Implemented'] == 'QR Yes']

In [4]:
df_qr_no.head()

,Year,Month,YearMonth,Fuel QR Implemented,Fuel Imports,Total Imports,NCPI Headline Inflation,GDP(Rs Million)
0,2020,1,2020-01,QR No,291.853136,1735.327088,7.6,4165667
1,2020,2,2020-02,QR No,418.720322,1562.323837,8.1,4165667
2,2020,3,2020-03,QR No,237.658038,1205.049203,7.0,4165667
3,2020,4,2020-04,QR No,121.817611,1122.606963,5.9,3161022
4,2020,5,2020-05,QR No,62.899183,993.822813,5.2,3161022

In [5]:
df_qr_yes.head()

,Year,Month,YearMonth,Fuel QR Implemented,Fuel Imports,Total Imports,NCPI Headline Inflation,GDP(Rs Million)
31,2022,8,2022-08,QR Yes,388.573388,1485.870236,70.2,6586602
32,2022,9,2022-09,QR Yes,376.433568,1284.363139,73.7,6586602
33,2022,10,2022-10,QR Yes,396.536631,1335.665026,70.6,6575456
34,2022,11,2022-11,QR Yes,422.371096,1444.564150,65.0,6575456
35,2022,12,2022-12,QR Yes,383.549027,1425.563354,59.2,6575456

In [6]:
inflation_with_qr_no = df_qr_no['NCPI Headline Inflation'].tolist()
inflation_with_qr_yes = df_qr_yes['NCPI Headline Inflation'].tolist()

In [7]:
print(inflation_with_qr_no)

[7.6, 8.1, 7.0, 5.9, 5.2, 6.3, 6.1, 6.2, 6.4, 5.5, 5.2, 4.6, 3.7, 4.2, 5.1, 5.5, 6.1, 6.1, 6.8, 6.7, 6.2, 8.3, 11.1, 14.0, 16.8, 17.5, 21.5, 33.8, 45.3, 58.9, 66.7]

In [8]:
print(inflation_with_qr_yes)

[70.2, 73.7, 70.6, 65.0, 59.2, 53.2, 53.6, 49.2, 33.6, 22.1, 10.8, 4.6, 2.1]

In [9]:
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(inflation_with_qr_no, inflation_with_qr_yes)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -4.708332736970968
P-value: 2.7285304832319547e-05

In [10]:
gdp_with_qr_no = df_qr_no['GDP(Rs Million)'].tolist()
gdp_with_qr_yes = df_qr_yes['GDP(Rs Million)'].tolist()

In [11]:
print(gdp_with_qr_no)

[4165667, 4165667, 4165667, 3161022, 3161022, 3161022, 4227547, 4227547, 4227547, 4117300, 4117300, 4117300, 4592330, 4592330, 4592330, 3887480, 3887480, 3887480, 4395880, 4395880, 4395880, 4724501, 4724501, 4724501, 5543306, 5543306, 5543306, 5442362, 5442362, 5442362, 6586602]

In [12]:
print(gdp_with_qr_yes)

[6586602, 6586602, 6575456, 6575456, 6575456, 7328574, 7328574, 7328574, 6145452, 6145452, 6145452, 6145452, 6145452]

In [13]:
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(gdp_with_qr_no, gdp_with_qr_yes)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -9.028069444025574
P-value: 2.1667607407609224e-11

In [14]:
FuelImports_with_qr_no = df_qr_no['Fuel Imports'].tolist()
FuelImports_with_qr_yes = df_qr_yes['Fuel Imports'].tolist()

In [15]:
print(FuelImports_with_qr_no)

[291.8531364, 418.7203216, 237.6580377, 121.8176107, 62.89918273, 110.4490978, 200.2948241, 247.5143625, 213.9530829, 223.4165005, 178.9215452, 235.0828118, 309.8443069, 320.1593754, 347.1508404, 413.1793232, 330.5391716, 66.28857421, 256.0488529, 352.67379, 200.9496504, 384.9822222, 318.5596593, 442.4838331, 430.3072287, 462.15223, 519.8465793, 510.1150285, 461.4230284, 200.09369, 345.375297]

In [16]:
print(FuelImports_with_qr_yes)

[388.5733882, 376.4335678, 396.5366305, 422.3710963, 383.5490271, 516.5039395, 204.2710194, 391.0504143, 523.2679662, 429.7564375, 289.9998326, 381.0154467, 343.6819026]

In [17]:
# Perform the t-test
t_statistic, p_value = stats.ttest_ind(FuelImports_with_qr_no, FuelImports_with_qr_yes)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -2.390512756985553
P-value: 0.021385704552382305